
#historicalSeatTooltip {
  background-color: white;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#historicalChart {
    width: 100%;
}

@media (max-width: 1050px) {
  #historicalChart {
    max-width: 1000px;
  }
}

@media (max-width: 375px) {
  #historicalChart {
    max-width: 375px;
  }
}
